<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="ir.taravatgroup.mylitner"
	android:versionCode="2"
	android:versionName="2.1"
	android:installLocation="preferExternal">
	
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="29"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<application
		android:icon="@drawable/icon"
		android:label="لایتنر من"
		android:theme="@style/LightTheme">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".book_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".lessen_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".level_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".all_words_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".store_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".add_voice_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".all_exam_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".dictionary_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".exam_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".help_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".init_exam_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".result_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".setting_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".setting_time_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".singl_word_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
		<service
			android:name=".starter"
			android:exported="true">
		</service>
		<receiver
			android:name=".starter$starter_BR"
			android:exported="true">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".word_activity"
			android:label="لایتنر من"
			android:screenOrientation="portrait"
			android:exported="true">
		</activity>
	</application>
</manifest>